tr, td {
  border-collapse: collapse;
  font-size:80px;
  width:100px;
  height:100px;
  text-align:center;
}

tr{
    border-bottom: 10px solid black;   
}

td{
    border-right: 10px solid black;
}
table {
  border-collapse: collapse;
}

td:last-child{
    border-right:none !important;
   
:;
}

tr:last-child{
     border-bottom:none !important;
}
#reset{
    visibility:hidden;
    position:fixed;
    right:10px;
    bottom:10px;
}